/* Header */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
  margin: 1rem;
}

/* Button */
.filter_buttons__filter button,
.filter_buttons__sort button {
  padding: 0.15rem 0.25rem;
  border-radius: 0.5rem;
  background-color: #8eff8f;
  border: 1px solid #ddd;
  color: darkgreen;
}

.filter_buttons__filter button:hover,
.filter_buttons__sort button:hover {
  background-color: #8eff8f;
  color: #8eff8f;
}

/* Filter Buttons */

.filter_buttons {
  margin: 0rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.filter_buttons__filter {
  display: flex;
  gap: 1rem;
}

/* Country List */

.country_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 1rem;
}

.country_list__item {
  padding: 0.5rem;
  background-color: #cbffcb;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border: none;
}

.country_list__item p {
  margin: 0.5rem;
}

/* Pagination */

.pagination_container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page_item {
  margin: 0 5px;
}

.page_link {
  text-decoration: none;
  color: darkgreen;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: block;
  background-color: white;
}

.page_item.active .page_link {
  background-color: #90ff90;
  color: darkgreen;
  border-color: #90ff90;
}

.page_item.disabled .page_link {
  color: grey;
  cursor: not-allowed;
  pointer-events: none;
}
